timestamp "863-07-16T04:11:59Z"
message "Sable and Suns arrives on the strider."

claim faction="sable-and-suns" {
    hex -5 30
    hex -5 31
    hex -5 32
    hex -5 33
    hex -5 34
    hex -5 35
    hex -4 24
    hex -4 25
    hex -4 26
    hex -4 27
    hex -4 28
    hex -4 29
    hex -4 30
    hex -4 31
    hex -4 32
    hex -4 33
    hex -4 34
    hex -4 35
    hex -3 18
    hex -3 19
    hex -3 20
    hex -3 21
    hex -3 22
    hex -3 23
    hex -3 24
    hex -3 25
    hex -3 26
    hex -3 27
    hex -3 28
    hex -3 29
    hex -3 30
    hex -3 31
    hex -3 32
    hex -3 33
    hex -3 34
    hex -3 35
    hex -2 15
    hex -2 16
    hex -2 17
    hex -2 18
    hex -2 19
    hex -2 20
    hex -2 21
    hex -2 22
    hex -2 23
    hex -2 24
    hex -2 25
    hex -2 26
    hex -2 27
    hex -2 28
    hex -2 29
    hex -2 30
    hex -2 31
    hex -2 32
    hex -2 33
    hex -2 34
    hex -2 35
    hex -1 15
    hex -1 16
    hex -1 17
    hex -1 18
    hex -1 19
    hex -1 20
    hex -1 21
    hex -1 22
    hex -1 23
    hex -1 24
    hex -1 25
    hex -1 26
    hex -1 27
    hex -1 28
    hex -1 29
    hex -1 30
    hex -1 31
    hex -1 32
    hex -1 33
    hex -1 34
    hex -1 35
    hex 0 14
    hex 0 15
    hex 0 16
    hex 0 17
    hex 0 18
    hex 0 19
    hex 0 20
    hex 0 21
    hex 0 22
    hex 0 23
    hex 0 24
    hex 0 25
    hex 0 26
    hex 0 27
    hex 0 28
    hex 0 29
    hex 0 30
    hex 0 31
    hex 0 32
    hex 0 33
    hex 0 34
    hex 0 35
    hex 1 14
    hex 1 15
    hex 1 16
    hex 1 17
    hex 1 18
    hex 1 19
    hex 1 20
    hex 1 21
    hex 1 22
    hex 1 23
    hex 1 24
    hex 1 25
    hex 1 26
    hex 1 27
    hex 1 28
    hex 1 29
    hex 1 30
    hex 1 31
    hex 1 32
    hex 1 33
    hex 1 34
    hex 2 13
    hex 2 14
    hex 2 15
    hex 2 16
    hex 2 17
    hex 2 18
    hex 2 19
    hex 2 20
    hex 2 21
    hex 2 22
    hex 2 23
    hex 2 24
    hex 2 25
    hex 2 26
    hex 2 27
    hex 2 28
    hex 2 29
    hex 2 30
    hex 2 31
    hex 2 32
    hex 2 33
    hex 3 15
    hex 3 16
    hex 3 17
    hex 3 18
    hex 3 19
    hex 3 20
    hex 3 21
    hex 3 22
    hex 3 23
    hex 3 24
    hex 3 25
    hex 3 26
    hex 3 27
    hex 3 28
    hex 3 29
    hex 3 30
    hex 3 31
    hex 3 32
    hex 4 20
    hex 4 21
    hex 4 22
    hex 4 23
    hex 4 24
    hex 4 25
    hex 4 26
    hex 4 27
    hex 4 28
    hex 4 29
    hex 4 30
    hex 4 31
    hex 5 25
    hex 5 26
    hex 5 27
    hex 5 28
    hex 5 29
    hex 5 30
}
