timestamp "863-07-15T19:32:59Z"
message "Pale Lantern Society arrives on the strider."

claim faction="pale-lantern-society" {
    hex -35 0
    hex -35 1
    hex -35 2
    hex -34 -1
    hex -34 0
    hex -34 1
    hex -33 -2
    hex -33 -1
    hex -33 0
    hex -33 1
    hex -32 -3
    hex -32 -2
    hex -32 -1
    hex -32 0
    hex -32 1
    hex -31 -4
    hex -31 -3
    hex -31 -2
    hex -31 -1
    hex -31 0
    hex -31 1
    hex -30 -5
    hex -30 -4
    hex -30 -3
    hex -30 -2
    hex -30 -1
    hex -30 0
    hex -30 1
    hex -29 -6
    hex -29 -5
    hex -29 -4
    hex -29 -3
    hex -29 -2
    hex -29 -1
    hex -29 0
    hex -29 1
    hex -28 -7
    hex -28 -6
    hex -28 -5
    hex -28 -4
    hex -28 -3
    hex -28 -2
    hex -28 -1
    hex -28 0
    hex -28 1
    hex -27 -8
    hex -27 -7
    hex -27 -6
    hex -27 -5
    hex -27 -4
    hex -27 -3
    hex -27 -2
    hex -27 -1
    hex -27 0
    hex -27 1
    hex -26 -9
    hex -26 -8
    hex -26 -7
    hex -26 -6
    hex -26 -5
    hex -26 -4
    hex -26 -3
    hex -26 -2
    hex -26 -1
    hex -26 0
    hex -26 1
    hex -25 -9
    hex -25 -8
    hex -25 -7
    hex -25 -6
    hex -25 -5
    hex -25 -4
    hex -25 -3
    hex -25 -2
    hex -25 -1
    hex -25 0
    hex -25 1
    hex -24 -8
    hex -24 -7
    hex -24 -6
    hex -24 -5
    hex -24 -4
    hex -24 -3
    hex -24 -2
    hex -24 -1
    hex -24 0
    hex -24 1
    hex -23 -8
    hex -23 -7
    hex -23 -6
    hex -23 -5
    hex -23 -4
    hex -23 -3
    hex -23 -2
    hex -23 -1
    hex -23 0
    hex -23 1
    hex -22 -8
    hex -22 -7
    hex -22 -6
    hex -22 -5
    hex -22 -4
    hex -22 -3
    hex -22 -2
    hex -22 -1
    hex -22 0
    hex -22 1
    hex -21 -7
    hex -21 -6
    hex -21 -5
    hex -21 -4
    hex -21 -3
    hex -21 -2
    hex -21 -1
    hex -21 0
    hex -21 1
    hex -20 -7
    hex -20 -6
    hex -20 -5
    hex -20 -4
    hex -20 -3
    hex -20 -2
    hex -20 -1
    hex -20 0
    hex -20 1
    hex -19 -6
    hex -19 -5
    hex -19 -4
    hex -19 -3
    hex -19 -2
    hex -19 -1
    hex -19 0
    hex -19 1
    hex -18 -6
    hex -18 -5
    hex -18 -4
    hex -18 -3
    hex -18 -2
    hex -18 -1
    hex -18 0
    hex -18 1
    hex -17 -6
    hex -17 -5
    hex -17 -4
    hex -17 -3
    hex -17 -2
    hex -17 -1
    hex -17 0
    hex -16 -5
    hex -16 -4
    hex -16 -3
    hex -16 -2
    hex -16 -1
    hex -16 0
    hex -15 -5
    hex -15 -4
    hex -15 -3
    hex -15 -2
    hex -15 -1
    hex -15 0
    hex -14 -5
    hex -14 -4
    hex -14 -3
    hex -14 -2
    hex -14 -1
    hex -14 0
    hex -13 -4
    hex -13 -3
    hex -13 -2
    hex -12 -4
    hex -12 -3
}
