timestamp "863-07-18T09:55:59Z"
message "Ternion Heavy Industries arrives on the strider."

claim faction="ternion-heavy-industries" {
    hex 3 -17
    hex 3 -16
    hex 4 -23
    hex 4 -22
    hex 4 -21
    hex 4 -20
    hex 4 -19
    hex 4 -18
    hex 4 -17
    hex 4 -16
    hex 5 -29
    hex 5 -28
    hex 5 -27
    hex 5 -26
    hex 5 -25
    hex 5 -24
    hex 5 -23
    hex 5 -22
    hex 5 -21
    hex 5 -20
    hex 5 -19
    hex 5 -18
    hex 5 -17
    hex 5 -16
    hex 6 -35
    hex 6 -34
    hex 6 -33
    hex 6 -32
    hex 6 -31
    hex 6 -30
    hex 6 -29
    hex 6 -28
    hex 6 -27
    hex 6 -26
    hex 6 -25
    hex 6 -24
    hex 6 -23
    hex 6 -22
    hex 6 -21
    hex 6 -20
    hex 6 -19
    hex 6 -18
    hex 6 -17
    hex 6 -16
    hex 7 -35
    hex 7 -34
    hex 7 -33
    hex 7 -32
    hex 7 -31
    hex 7 -30
    hex 7 -29
    hex 7 -28
    hex 7 -27
    hex 7 -26
    hex 7 -25
    hex 7 -24
    hex 7 -23
    hex 7 -22
    hex 7 -21
    hex 7 -20
    hex 7 -19
    hex 7 -18
    hex 7 -17
    hex 7 -16
    hex 8 -35
    hex 8 -34
    hex 8 -33
    hex 8 -32
    hex 8 -31
    hex 8 -30
    hex 8 -29
    hex 8 -28
    hex 8 -27
    hex 8 -26
    hex 8 -25
    hex 8 -24
    hex 8 -23
    hex 8 -22
    hex 8 -21
    hex 8 -20
    hex 8 -19
    hex 8 -18
    hex 9 -35
    hex 9 -34
    hex 9 -33
    hex 9 -32
    hex 9 -31
    hex 9 -30
    hex 9 -29
    hex 9 -28
    hex 9 -27
    hex 9 -26
    hex 9 -25
    hex 9 -24
    hex 9 -23
    hex 9 -22
    hex 9 -21
    hex 9 -20
    hex 10 -35
    hex 10 -34
    hex 10 -33
    hex 10 -32
    hex 10 -31
    hex 10 -30
    hex 10 -29
    hex 10 -28
    hex 10 -27
    hex 10 -26
    hex 10 -25
    hex 10 -24
    hex 10 -23
    hex 10 -22
    hex 11 -35
    hex 11 -34
    hex 11 -33
    hex 11 -32
    hex 11 -31
    hex 11 -30
    hex 11 -29
    hex 11 -28
    hex 11 -27
    hex 11 -26
    hex 11 -25
    hex 12 -35
    hex 12 -34
    hex 12 -33
    hex 12 -32
    hex 12 -31
    hex 12 -30
    hex 12 -29
    hex 12 -28
    hex 12 -27
    hex 13 -35
    hex 13 -34
    hex 13 -33
    hex 13 -32
    hex 13 -31
    hex 13 -30
    hex 13 -29
    hex 14 -35
    hex 14 -34
    hex 14 -33
    hex 14 -32
    hex 14 -31
    hex 15 -35
    hex 15 -34
    hex 15 -33
}
