timestamp "863-07-16T19:40:59Z"
message "Prime Meridian arrives on the strider."

claim faction="prime-meridian" {
    hex 3 13
    hex 3 14
    hex 4 12
    hex 4 13
    hex 4 14
    hex 4 15
    hex 4 16
    hex 4 17
    hex 4 18
    hex 4 19
    hex 5 11
    hex 5 12
    hex 5 13
    hex 5 14
    hex 5 15
    hex 5 16
    hex 5 17
    hex 5 18
    hex 5 19
    hex 5 20
    hex 5 21
    hex 5 22
    hex 5 23
    hex 5 24
    hex 6 10
    hex 6 11
    hex 6 12
    hex 6 13
    hex 6 14
    hex 6 15
    hex 6 16
    hex 6 17
    hex 6 18
    hex 6 19
    hex 6 20
    hex 6 21
    hex 6 22
    hex 6 23
    hex 6 24
    hex 6 25
    hex 6 26
    hex 6 27
    hex 6 28
    hex 6 29
    hex 7 9
    hex 7 10
    hex 7 11
    hex 7 12
    hex 7 13
    hex 7 14
    hex 7 15
    hex 7 16
    hex 7 17
    hex 7 18
    hex 7 19
    hex 7 20
    hex 7 21
    hex 7 22
    hex 7 23
    hex 7 24
    hex 7 25
    hex 7 26
    hex 7 27
    hex 7 28
    hex 8 10
    hex 8 11
    hex 8 12
    hex 8 13
    hex 8 14
    hex 8 15
    hex 8 16
    hex 8 17
    hex 8 18
    hex 8 19
    hex 8 20
    hex 8 21
    hex 8 22
    hex 8 23
    hex 8 24
    hex 8 25
    hex 8 26
    hex 8 27
    hex 9 11
    hex 9 12
    hex 9 13
    hex 9 14
    hex 9 15
    hex 9 16
    hex 9 17
    hex 9 18
    hex 9 19
    hex 9 20
    hex 9 21
    hex 9 22
    hex 9 23
    hex 9 24
    hex 9 25
    hex 9 26
    hex 10 12
    hex 10 13
    hex 10 14
    hex 10 15
    hex 10 16
    hex 10 17
    hex 10 18
    hex 10 19
    hex 10 20
    hex 10 21
    hex 10 22
    hex 10 23
    hex 10 24
    hex 10 25
    hex 11 14
    hex 11 15
    hex 11 16
    hex 11 17
    hex 11 18
    hex 11 19
    hex 11 20
    hex 11 21
    hex 11 22
    hex 11 23
    hex 11 24
    hex 12 15
    hex 12 16
    hex 12 17
    hex 12 18
    hex 12 19
    hex 12 20
    hex 12 21
    hex 12 22
    hex 12 23
    hex 13 16
    hex 13 17
    hex 13 18
    hex 13 19
    hex 13 20
    hex 13 21
    hex 13 22
    hex 14 17
    hex 14 18
    hex 14 19
    hex 14 20
    hex 14 21
    hex 15 18
    hex 15 19
    hex 15 20
}
