timestamp "863-07-18T04:14:00Z"
message "Radiant Arms Base established."

add "radiant-arms-base" name="Radiant Arms Base" faction="radiant-arms" {
    hex -23 5
    hex -22 4
    hex -21 4
    hex -22 5
    hex -21 5
    hex -20 4
}

skein-add "final-caliber" name="Final Caliber" faction="radiant-arms" symbol="symbols/final-caliber.svg" {
    hex -22 5
}

skein-connect from="final-caliber" to="ears-that-hear-the-truth"
