timestamp "863-07-13T20:46:59Z"
message "The Scale arrives on the strider."

claim faction="the-scale" {
    hex 15 -3
    hex 15 -2
    hex 15 -1
    hex 16 -5
    hex 16 -4
    hex 16 -3
    hex 16 -2
    hex 16 -1
    hex 17 -6
    hex 17 -5
    hex 17 -4
    hex 17 -3
    hex 17 -2
    hex 17 -1
    hex 18 -6
    hex 18 -5
    hex 18 -4
    hex 18 -3
    hex 18 -2
    hex 19 -6
    hex 19 -5
    hex 19 -4
    hex 19 -3
    hex 19 -2
    hex 20 -7
    hex 20 -6
    hex 20 -5
    hex 20 -4
    hex 20 -3
    hex 20 -2
    hex 21 -7
    hex 21 -6
    hex 21 -5
    hex 21 -4
    hex 21 -3
    hex 21 -2
    hex 22 -7
    hex 22 -6
    hex 22 -5
    hex 22 -4
    hex 22 -3
    hex 22 -2
    hex 23 -8
    hex 23 -7
    hex 23 -6
    hex 23 -5
    hex 23 -4
    hex 23 -3
    hex 23 -2
    hex 24 -8
    hex 24 -7
    hex 24 -6
    hex 24 -5
    hex 24 -4
    hex 24 -3
    hex 24 -2
    hex 25 -9
    hex 25 -8
    hex 25 -7
    hex 25 -6
    hex 25 -5
    hex 25 -4
    hex 25 -3
    hex 25 -2
    hex 26 -9
    hex 26 -8
    hex 26 -7
    hex 26 -6
    hex 26 -5
    hex 26 -4
    hex 26 -3
    hex 26 -2
    hex 27 -9
    hex 27 -8
    hex 27 -7
    hex 27 -6
    hex 27 -5
    hex 27 -4
    hex 27 -3
    hex 27 -2
    hex 28 -10
    hex 28 -9
    hex 28 -8
    hex 28 -7
    hex 28 -6
    hex 28 -5
    hex 28 -4
    hex 28 -3
    hex 28 -2
    hex 29 -10
    hex 29 -9
    hex 29 -8
    hex 29 -7
    hex 29 -6
    hex 29 -5
    hex 29 -4
    hex 29 -3
    hex 29 -2
    hex 30 -10
    hex 30 -9
    hex 30 -8
    hex 30 -7
    hex 30 -6
    hex 30 -5
    hex 30 -4
    hex 30 -3
    hex 30 -2
    hex 31 -11
    hex 31 -10
    hex 31 -9
    hex 31 -8
    hex 31 -7
    hex 31 -6
    hex 31 -5
    hex 31 -4
    hex 31 -3
    hex 31 -2
    hex 32 -11
    hex 32 -10
    hex 32 -9
    hex 32 -8
    hex 32 -7
    hex 32 -6
    hex 32 -5
    hex 32 -4
    hex 32 -3
    hex 32 -2
    hex 33 -11
    hex 33 -10
    hex 33 -9
    hex 33 -8
    hex 33 -7
    hex 33 -6
    hex 33 -5
    hex 33 -4
    hex 33 -3
    hex 33 -2
    hex 34 -12
    hex 34 -11
    hex 34 -10
    hex 34 -9
    hex 34 -8
    hex 34 -7
    hex 34 -6
    hex 34 -5
    hex 34 -4
    hex 34 -3
    hex 34 -2
    hex 35 -12
    hex 35 -11
    hex 35 -10
    hex 35 -9
    hex 35 -8
    hex 35 -7
    hex 35 -6
    hex 35 -5
    hex 35 -4
    hex 35 -3
}
